<!DOCTYPE html>
<html>
<head>
    <%- include {{common_ejs}} %>
    <link href="/src/page/{{filename}}.css" rel="stylesheet"/>
</head>
<body>
<!-- @DEFINE -->
<script src="/src/lib/nej/src/define.js"></script>
<script>
    NEJ.define([
        'pro/{{filename}}'
    ], function (m) {
        m._$$Module._$allocate();
    });
</script>
</body>
</html>
